<tr class="multi-element">
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td><input type="text" class="form-control form-control-sm"></td>
    <td class="cerrar-elemento"></td>
</tr>
